body {
  width: 480px;
  height: 767px;
  margin: auto;
  padding: 10px 0px; 
}

div {
  outline: 1px solid gray;
  background-color: lightgray;
  float: left;
  font-size: 20px;
}

p {
  position: relative;
  vertical-align: middle;
  text-align: center;
}
